<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AutoTableViewCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA86F20A1C50CB1000A68413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA86F2231C50CB1100A68413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA86F22E1C50CB1100A68413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
